<footer class= "nav-footer-container">
    <div class="nav-footer">
        <div class="footer-logo">
            <div style="display: flex;">
                <i style ="color: white; font-size: 25px;"class="fas fa-lightbulb"></i>
                <h2 class="" id="nav-footer-title">HIKARI. </h2>
            </div>
            
            
            </h1>
            <p style="color: white;">Copyright &copy; 2021</p>
        </div>
        <nav>
            <ul class="footer-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <div class="footer-socials">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>

    </div>

</footer>
<script src="scripts/navbar.js" ></script>