<div class="nav-container">
    
    <nav class="genre-bar">
      
        <div class="nav-right">
            <h3 class="genre-title" id="genre-title" >Genre:</h3>
            <a class="genre-links-active"href="/browse">All</a>
            <a class="genre-links"href="/action">Action</a>
            <a class="genre-links"href="/fantasy">Fantasy</a>
            <a class="genre-links"href="/horror">Horror & Mystery</a>
            <a class="genre-links"href="/romance">Romance</a>
            <a class="genre-links"href="/comedy">Comedy</a>
            <a class="genre-links"href="/slice">Slice of life</a>
        </div>
        
    </nav>
</div>