<div class="nav-container">
    
    <nav class="genre-bar">
      
        <div class="nav-right">
            <h3 class="genre-title" id="genre-title" >Genre:</h3>
            <a class="genre-links-active"href="#">All</a>
            <a class="genre-links"href="#">Action</a>
            <a class="genre-links"href="#">Fantasy</a>
            <a class="genre-links"href="#">Horror & Mystery</a>
            <a class="genre-links"href="#">Romance</a>
            <a class="genre-links"href="#">Comedy</a>
            <a class="genre-links"href="#">Slice of life</a>
        </div>
        
    </nav>
</div>