<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="create-novel-bg">
        <div class="novel-form-container">
            <h1>New Novel</h1>
            <form action="/create" class="novel-form" id="novel-form" method="POST">
                <div class="novel-form-input">

                    <label for  ="title">Novel title</label>
                    <input type="text" placeholder="Enter novel name"  id="title" name="title"  />

                </div>

            
                <div style="width: 300px; margin-top: 20px;" >
                    <label for="image>Novel Image</label>
                    <input type="file" id="image" name="image" class="filepond">
                </div>

   
                <div class="novel-form-input">

                    <label for="genre">Novel Genre</label>
                    <select name="genre" id="genre" name="genre">
                        <option value="Action">Action</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Horror & Mystery">Horror & Mystery</option>           
                        <option value="Romance">Romance</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Slice of life">Slice of life</option>
                    </select>

                </div>

                <div class="novel-form-input">

                    <label for="content">Novel Content</label>
                    <textarea  cols="30" rows="10" class="content" name="content" id="content"></textarea>

                </div>

                

                <button class="submit-form" style="width: 300px;"">Create Novel</button>

                
                
            </form>
         </div>

    </div>

    

        
    

<%- include('./partials/footer.ejs') %>
<script src="scripts/genrePage.js"></script>
    
</body>
</html>