<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/navbarGenre.ejs') %>
    <div class="genre-bg">

        <div class="card-container">
            <div class="novel-card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <p>Novel title</p>
                <div class="novel-genre">
                    Action
                </div>
                <a href="">Read Now</a>

            </div>

            
            

            
            

        </div>

        <!--
        <div class="cards">
            <div class="card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <div class="card__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus sapien sed euismod. 
                        Integer lacinia ipsum quis nunc vestibulum, ut vehicula tellus mattis. Duis rhoncus vulputate dignissim. Donec tempor luctus viverra. Donec gravida, mauris dapibus imperdiet iaculis, libero metus lobortis leo, vel gravida diam velit vel leo. Fusce orci nulla, feugiat eu vulputate vitae, vestibulum ut odio. Suspendisse potenti. Ut congue libero sed elit tincidunt, non mattis lorem consectetur. In eleifend mattis convallis. Nulla condimentum ullamcorper mi, eu maximus nunc mollis ut. Integer felis magna, porttitor ac lobortis et, dignissim sed dui. Sed efficitur in nunc id interdum. Donec maximus rutrum quam, non commodo sem facilisis eu.</p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 310
                    </div>
                    <div>
                        <a href="#" class="card__link">View</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <div class="card__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus sapien sed euismod. 
                        Integer lacinia ipsum quis nunc vestibulum, ut vehicula tellus mattis. Duis rhoncus vulputate dignissim. Donec tempor luctus viverra. Donec gravida, mauris dapibus imperdiet iaculis, libero metus lobortis leo, vel gravida diam velit vel leo. Fusce orci nulla, feugiat eu vulputate vitae, vestibulum ut odio. Suspendisse potenti. Ut congue libero sed elit tincidunt, non mattis lorem consectetur. In eleifend mattis convallis. Nulla condimentum ullamcorper mi, eu maximus nunc mollis ut. Integer felis magna, porttitor ac lobortis et, dignissim sed dui. Sed efficitur in nunc id interdum. Donec maximus rutrum quam, non commodo sem facilisis eu.</p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 310
                    </div>
                    <div>
                        <a href="#" class="card__link">View</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <div class="card__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus sapien sed euismod. 
                        Integer lacinia ipsum quis nunc vestibulum, ut vehicula tellus mattis. Duis rhoncus vulputate dignissim. Donec tempor luctus viverra. Donec gravida, mauris dapibus imperdiet iaculis, libero metus lobortis leo, vel gravida diam velit vel leo. Fusce orci nulla, feugiat eu vulputate vitae, vestibulum ut odio. Suspendisse potenti. Ut congue libero sed elit tincidunt, non mattis lorem consectetur. In eleifend mattis convallis. Nulla condimentum ullamcorper mi, eu maximus nunc mollis ut. Integer felis magna, porttitor ac lobortis et, dignissim sed dui. Sed efficitur in nunc id interdum. Donec maximus rutrum quam, non commodo sem facilisis eu.</p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 310
                    </div>
                    <div>
                        <a href="#" class="card__link">View</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <div class="card__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus sapien sed euismod. 
                        Integer lacinia ipsum quis nunc vestibulum, ut vehicula tellus mattis. Duis rhoncus vulputate dignissim. Donec tempor luctus viverra. Donec gravida, mauris dapibus imperdiet iaculis, libero metus lobortis leo, vel gravida diam velit vel leo. Fusce orci nulla, feugiat eu vulputate vitae, vestibulum ut odio. Suspendisse potenti. Ut congue libero sed elit tincidunt, non mattis lorem consectetur. In eleifend mattis convallis. Nulla condimentum ullamcorper mi, eu maximus nunc mollis ut. Integer felis magna, porttitor ac lobortis et, dignissim sed dui. Sed efficitur in nunc id interdum. Donec maximus rutrum quam, non commodo sem facilisis eu.</p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 310
                    </div>
                    <div>
                        <a href="#" class="card__link">View</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                <div class="card__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus sapien sed euismod. 
                        Integer lacinia ipsum quis nunc vestibulum, ut vehicula tellus mattis. Duis rhoncus vulputate dignissim. Donec tempor luctus viverra. Donec gravida, mauris dapibus imperdiet iaculis, libero metus lobortis leo, vel gravida diam velit vel leo. Fusce orci nulla, feugiat eu vulputate vitae, vestibulum ut odio. Suspendisse potenti. Ut congue libero sed elit tincidunt, non mattis lorem consectetur. In eleifend mattis convallis. Nulla condimentum ullamcorper mi, eu maximus nunc mollis ut. Integer felis magna, porttitor ac lobortis et, dignissim sed dui. Sed efficitur in nunc id interdum. Donec maximus rutrum quam, non commodo sem facilisis eu.</p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 310
                    </div>
                    <div>
                        <a href="#" class="card__link">View</a>
                    </div>
                </div>
            </div>
        </div>

        -->
        
    </div>
    
    

    <%- include('./partials/footer.ejs') %>

    <script src="scripts/genrePage.js"></script>
    
</body>
</html>