<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Hikari Reader: Read Light Novels Online</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav-container">
        <nav class="nav-bar">
            <div class="nav-right">
                <i style ="color: white; font-size: 30px; margin-left: 20px"class="fas fa-lightbulb"></i>
                <h1 class="" id="nav-title">HIKARI. </h1>
                <a class="nav-links"href="index.html">Home</a>
                <a id = "browse-link" href="javascript:;">Browse</a>
                    
                    <ul class = "nav-browse-links">
                        <li><a href="#">All Genres</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Horror & Mystery</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Slice of life</a></li>
                    </ul>
                <a class="nav-links"href="#">About</a>
            </div>
            <div class="nav-left">
                <div class="div"></div>
                <a href="#" style ="font-size: 20px;"class="fa-stack fa-4x nav-write">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i style ="color: white;" class="fas fa-feather-alt fa-stack-1x"></i>
                </a>
                <a href="#"style ="font-size: 20px;"class="fa-stack fa-4x nav-save">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i style ="color: white;" class="far fa-bookmark fa-stack-1x"></i>
                </a>
                <a class="nav-link-btn" href="#">Sign in</a>
            </div>
        </nav>
    </div>
    <div class="carosel">
        <div class="carosel-item carosel-item-visible">
            <div class="carosel-text">
                <h1 >Discover all kinds of novels.</h1>
                <p >You’ll find titles in every genre
                    you love, with new ones being
                    added frequently.</p>
            </div>
            <img src="../public/img/carosel1.png" alt="">
            
        </div>
        <div class="carosel-item" >
            <div class="carosel-text">
                <h1 >Personalized Suggestions.</h1>
                <p >Discover novels you'll love in our wide selection, selected just for you.</p>
            </div>
            <img src="../public/img/carosel2.png" alt="">
            
        </div>
        <div class="carosel-item" >
            <div class="carosel-text">
                <h1 >Simple Organizing.</h1>
                <p >Easily plan, save and organize your novels, with just one tap.</p>
            </div>
            <img src="../public/img/carosel3.png" alt="">
            
        </div>
        <div class="carosel-item" >
            <div class="carosel-text">
                <h1 >No Ads. Your Choice.</h1>
                <p >Acess the world of light novels at your fingertips. Best part is it's all free!</p>
            </div>
            <img src="../public/img/carosel4.png" alt="">
            
        </div>
        <div class="carosel-actions">
            <button id="carosel-btn-prev" aria-label="Previous slide"><</button>
            <button id="carosel-btn-next">></button>
            
        </div>
    </div>

    
    <section class="container">
        <div style="height: 300px; background-color: rgb(255, 255, 255);">

        </div>

    </section>
    <section class="container">
        <div style="height: 300px; background-color: rgb(180, 180, 180);">

        </div>

    </section>
    <section class="container">
        <div style="height: 300px; background-color: rgb(255, 255, 255);">

        </div>

    </section>


    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <div style="display: flex;">
                    <i style ="color: white; font-size: 25px;"class="fas fa-lightbulb"></i>
                    <h2 class="" id="nav-footer-title">HIKARI. </h2>
                </div>
                
                
                </h1>
                <p style="color: white;">Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>

    

    <script src="../public/scripts/homePage.js" ></script>
    <script src="../public/scripts/navbar.js" ></script>
</body>
</html>