<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="login-bg">
        <div class="register-form-container">
            <div class="login-title-center">
                <h1>Register</h1>         
            </div>
            <hr style="height:2px;border-width:0;color:rgb(54, 54, 54);background-color:gray;margin: 30px 0;">
            <form action="" class="form" id="form">
                <div class="form-input">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter username" id="username" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Invalid username</small>
                </div>

                <div class="form-input">
                    <label for="username">Password</label>
                    <input type="password" placeholder="Enter password" id="password" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Invalid password</small>
                </div>

                <div class="form-input">
                    <label for="username">Password</label>
                    <input type="password" placeholder="Confirm password" id="confirm-password" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Invalid password</small>
                </div>
                <button class="submit-form">Sign Up</button>
                <div class="form-redirect">
                    <span>Already have an account? </span>
                    <a href="loginPage.html">Sign in</a>
                </div>
                
                
            </form>
            
        </div>
    </div>
    

    <%- include('./partials/footer.ejs') %>

    <script src="scripts/registerPage.js"></script>
    
</body>
</html>