<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="search-bg">
    <!--
  
        
    <div class="content">
        <div class = "avatar">
            <img src="https://fakeimg.pl/200x200/009578/fff/" alt="face">
        </div>
        <div class="userData">
            <h1>USERNAME_HERE</h1>
            <p>ID:007</p>
            <p><i class="far fa-calendar-alt"></i> Joined Apr 19th 2021</p>
        </div>
    </div>
    </div>
    <div class="secondContainer">
        <div class="box-container">
        
            <div class="lists">
                <h1>Favourites</h1>
                <p>Novel Cards Here</p>
                <h1>Novels Authored</h1>
                <p>Novel Cards Here</p>
            </div>
        </div>
    
    
--><div class="search-box"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->
    <table class="elementsContainer">
        <tr>
            <td>
                <input type="text" class="search-txt"  placeholder="Search For Novel">
            </td>
            <td>
                <a class="search-btn" href=#>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </table>
    
</div>
<div class="results">
    <p>RESULT CARDS HERE</p>
</div>
</div>
    <%- include('./partials/footer.ejs') %>

    <script src="scripts/genrePage.js"></script>
    
</body>
</html>