<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="search-bg">
    <div class="search-box"> 
    <table class="elementsContainer">
        <tr>
            <td>
                <input type="text" class="search-txt"  placeholder="Search For Novel">
            </td>
            <td>
                <a class="search-btn" href=#>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </table>
    
</div>
<h1 style="margin-left: 50px;">Search Results</h1>
<div style="display: flex; align-items: center; justify-content: center;">
    
    <div class="card-container" style="margin-top: 30px">
    </div>
</div>


</div>
    <%- include('./partials/footer.ejs') %>

    <script src="scripts/genrePage.js"></script>
    
</body>
</html>